
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

 <header-bar
 title="'Favors'"
 right-buttons="rightButtons"
 type="bar-positive"
 align-title="center">
</header-bar>
<view>




<nav-view></nav-view>


<div class="tabs">
  <a class="tab-item" ui-sref="app.favors">
    Favors
  </a>
  <a class="tab-item" ui-sref="app.newFavor">
    Add Favor
  </a>
  <a class="tab-item">
    Settings
  </a>
</div>
</view>

