	<content has-header="true" padding="true">
<!-- 	<header class="bar bar-header bar-dark">
		<h1 class="title">Favors App</h1>
	</header>
 -->

		<div class="padTop">
			<!-- form when submitted should go invoke login function -->
			<form name="register" class="list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="Email">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Password">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Confirm Password">
			  </label>
			  <button class="button button-block button-balanced" ontouchend="registerUser"()>Register</button>
			</form>
		</div>
	</content>